@model EFGetStarted.AspNetCore.NewDb.Models.Contatto

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifica</h2>

<h4>Contatto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContattoId" />
            <div class="form-group">
                <label asp-for="nTelefono" class="control-label">Telefono</label>
                <input asp-for="nTelefono" class="form-control" />
                <span asp-validation-for="nTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nFax" class="control-label">FAX</label>
                <input asp-for="nFax" class="form-control" />
                <span asp-validation-for="nFax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nCellulare" class="control-label">Cellulare</label>
                <input asp-for="nCellulare" class="form-control" />
                <span asp-validation-for="nCellulare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eMail" class="control-label">E-mail</label>
                <input type="email" asp-for="eMail" class="form-control" />
                <span asp-validation-for="eMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
