@model EFGetStarted.AspNetCore.NewDb.Models.Fattura

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifica</h2>

<h4>Fattura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FatturaId" />
            <div class="form-group">
                <label asp-for="quantitaProdotto" class="control-label">Quantità prodotto</label>
                <input asp-for="quantitaProdotto" class="form-control" />
                <span asp-validation-for="quantitaProdotto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iva" class="control-label">IVA</label>
                <input asp-for="iva" class="form-control" />
                <span asp-validation-for="iva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sconto" class="control-label">Sconto</label>
                <input asp-for="sconto" class="form-control" />
                <span asp-validation-for="sconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totFattura" class="control-label">Importo totale</label>
                <input asp-for="totFattura" class="form-control" />
                <span asp-validation-for="totFattura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Emittente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
