@model EFGetStarted.AspNetCore.NewDb.Models.Spedizione

@{
    ViewData["Title"] = "Delete";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler rimuovere questa spedizione?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            Descrizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt>
            Costi spedizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.costiSpedizione)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="SpedizioneId" />
        <input type="submit" value="Elimina" class="btn btn-default" />
    </form>
</div>
<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>