@model EFGetStarted.AspNetCore.NewDb.Models.Spedizione

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Spedizione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            Descrizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt>
            Costi di spedizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.costiSpedizione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpedizioneId">Modifica ></a> |
    <a asp-action="Index">Torna alla lista ></a>
</div>
