@model EFGetStarted.AspNetCore.NewDb.Models.Indirizzo

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Indirizzo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Indirizzo di spedizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.indirizzoSpedizione)
        </dd>
        <dt>
            Indirizzo di fatturazione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.indirizzoFatturazione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IndirizzoId">Modifica ></a> |
    <a asp-action="Index">Torna alla lista ></a>
</div>
