@model EFGetStarted.AspNetCore.NewDb.Models.Tipo

@{
    ViewData["Title"] = "Delete";
}

<h2>Elimina</h2>

<h3>Sei sicuro di voler rimuovere questo tipo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt>
            Partita IVA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pIVA)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-group">
        <input type="hidden" asp-for="TipoId" />
        <input type="submit" value="Elimina" class="btn btn-default" />
    </form>
</div>
<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>