@model EFGetStarted.AspNetCore.NewDb.Models.Tipo

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli</h2>

<div>
    <h4>Tipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrizione
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descrizione)
        </dd>
        <dt>
            Partita IVA
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pIVA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoId">Modifica ></a> |
    <a asp-action="Index">Torna alla lista ></a>
</div>

