@model EFGetStarted.AspNetCore.NewDb.Models.Tipo

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifica</h2>

<h4>Tipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TipoId" />
            <div class="form-group">
                <label asp-for="descrizione" class="control-label">descrizione</label>
                <input asp-for="descrizione" class="form-control" />
                <span asp-validation-for="descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pIVA" class="control-label">Partita IVA</label>
                <input asp-for="pIVA" class="form-control" />
                <span asp-validation-for="pIVA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista ></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
